.search-container {
    display: grid;
    grid-template-columns: 4fr auto;
    grid-templa-rows: auto;
    grid-template-areas:
        'search-input search-button'
        'search-results .';
    column-gap: 50px;
    row-gap: 15px;
    border-bottom: 1px solid #292929;
}

.search-input {
    grid-area: search-input;
    box-sizing: border-box;
    border: 1px solid #292929;
    border-radius: 3px;
    background-color: #292929;
    height: 50px;
    width: 100%;
    color: #8a8a8a;
    padding-left: 20px;
    font-size: 16px;
}

.search-button {
    grid-area: search-button;
    height: 50px;
    cursor: pointer;
    background-color: #00fefe;
    border: 1px solid #00fefe;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 30px;
}

.search-input:focus {
    border: 1px solid #00fefe;
    border-radius: 3px;
    outline: none;
}

.search-results-text {
    font-size: 18px;
    color: #8a8a8a;
    padding: 10px 0;
}

.search-results-list {
    grid-area: search-results;
    border: 1px solid #292929;
    border-radius: 3px;
    background-color: #292929;
    max-height: 315px;
    overflow-y: scroll;
    position: absolute;
    width: 75%;
    top: 114px;
    z-index: 1;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #292929;
    position: relative;
    top: -8px;
    left: 50px;
}

.search-results-item {
    font-size: 16px;
    color: #8a8a8a;
    padding: 10px;
    border-bottom: 1px solid #1c1c1c;
}

.search-results-item:hover {
    font-size: 16px;
    color: #8a8a8a;
    padding: 10px;
    border-bottom: 1px solid #1c1c1c;
    background-color: #484747;
}
