.album-detail-img {
    grid-area: detail-img;
    position: relative;
    top: 17px;
    right: -7px;
    z-index: 1;
}

.album-detail-title {
    grid-area: detail-title;
    position: relative;
    top: 39px;
    left: 13px;
    color: #00efef;
    font-size: 20px;
}

.album-detail-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-detail-space {
    grid-area: detail-space;
    position: relative;
    top: -100px;
}

.album-detail-space-top {
    height: 36px;
}

.album-detail-space-bottom {
    background-color: #292929;
    display: flex;
    height: calc(100% - 38px);
    border-top: 1px solid #1c1c1c;
}

.album-detail-table {
    grid-area: detail-table;
    position: relative;
    top: -100px;
}

.album-detail-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas:
        'detail-img detail-title'
        'detail-space detail-table';
}
