.albums-heading {
    color: #00fefe;
    font-size: 18px;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 25px 25px;
}

.album-list {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    grid-column-gap: 30px;
    border-bottom: 1px solid #292929;
    scroll-behavior: smooth;
}

.album-list::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.album-item > img,
div.truncated-title {
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.album-item > img:hover {
    border: 1px solid #00fefe;
}

.no-albums {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8a8a8a;
    font-size: 18px;
    height: 180px;
}

.chevron-left {
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-left > svg {
    color: #8a8a8a !important;
}

.chevron-left:hover > svg {
    color: #00fefe !important;
}

.chevron-left:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

.chevron-right {
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-right > svg {
    color: #8a8a8a !important;
}

.chevron-right:hover > svg {
    color: #00fefe !important;
}

.chevron-right:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
